In [1]:
import glob
import pandas as pd
from src.static import DATA_DIR

# Data Completeness
Examining data for completeness involves a few methodical steps to ensure no critical components are missing

In [2]:
files = glob.glob(f'{DATA_DIR}/*.csv')
files

['/home/mango/data/CS504/raw_unit_data.csv',
 '/home/mango/data/CS504/loan_data.csv',
 '/home/mango/data/CS504/unit_data.csv',
 '/home/mango/data/CS504/raw_loan_data.csv']

In [24]:
loan_data = pd.read_csv(files[1])
unit_data = pd.read_csv(files[2])

/tmp/ipykernel_13707/1648879077.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  unit_data = pd.read_csv(files[2])

## Missing values check

In [25]:
def null_pct(df:pd.core.frame.DataFrame, col:str):
    return f'{round((df[col].isna().sum())*100/df.shape[0], 2)}%'

In [26]:
def null_report(df, **kwargs):
    print(f"{kwargs.get('name', 'DF')+' '}Data Completeness'")
    for col in df.columns:
        print(f'{col.capitalize()}: {null_pct(df, col)}')

With such few null values in the data we can examine the nulls by hand...

In [27]:
nulls = loan_data.loc[loan_data.enterprise_flag.isna()]
nulls.shape

(32, 11)

looks like there are 32 records missing pretty much everything, lets drop them.

In [28]:
loan_data.dropna(axis=0, inplace=True)

In [29]:
null_report(loan_data, **{'name':'Loan Data'})

Loan Data Data Completeness'
Year: 0.0%
Enterprise_flag: 0.0%
Record_number: 0.0%
Census_tract_2020: 0.0%
Tract_income_ratio: 0.0%
Affordability_cat: 0.0%
Date_of_mortgage_note: 0.0%
Purpose_of_loan: 0.0%
Type_of_seller: 0.0%
Federal_guarantee: 0.0%
Tot_num_units: 0.0%

In [30]:
null_report(unit_data, **{'name':'Unit Data'})

Unit Data Data Completeness'
Year: 0.0%
Enterprise_flag: 0.0%
Record_number: 0.0%
Num_bedrooms: 0.0%
Num_units: 0.0%
Affordability_level: 0.0%
Tenant_income_ind: 0.0%

# Uniqueness
A quick check confirms if there are duplicate records

In [31]:
loan_data.duplicated().value_counts()

False    107310
Name: count, dtype: int64

In [32]:
unit_data.duplicated().value_counts()

True     8757784
False     895757
Name: count, dtype: int64

In [33]:
duplicates = unit_data.duplicated()

In [34]:
unit_data[duplicates].head()

,year,enterprise_flag,record_number,num_bedrooms,num_units,affordability_level,tenant_income_ind
30,2013,freddie,10.0,2 or more bedrooms,1.0,">=0, <=50%",No or Not provided
31,2013,freddie,10.0,2 or more bedrooms,1.0,">=0, <=50%",No or Not provided
32,2013,freddie,10.0,2 or more bedrooms,1.0,">=0, <=50%",No or Not provided
33,2013,freddie,10.0,2 or more bedrooms,1.0,">=0, <=50%",No or Not provided
34,2013,freddie,10.0,2 or more bedrooms,1.0,">=0, <=50%",No or Not provided

The duplicated rows in `unit_data` are likely due to the fact that the data are not properly joined. Units may have the same values since unit parameters are binned and record numbers related to a property and not individual units.9

# Accuracy

# Atomicity

# Conformity

# Overall Quality